/*// **************** BLACKJACK ******************* //*/

body {
  margin: 0 auto;
  background-image: url("http://i66.tinypic.com/33yj8rs.jpg");
  height: 100vh;
  width: 100%;
  background-size: cover;
  text-align: center;
}
#placeBetButton {
  width: 150px;
  height: 35px;
  border: 3px solid black;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 20px;
  font-family: 'Baloo', cursive;
  box-shadow: 1px 2px 1px 2px rgb(224,204,177);
}
#placeBetButton:hover {
color: black;
background-color: white;
cursor: pointer;
}
#betAmount {
  width: 50px;
  height: 30px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 20px;
  font-family: 'Baloo', cursive;
  box-shadow: 1px 2px 1px 2px rgb(224,204,177);
}
#betAmount:hover {
color: black;
background-color: white;
cursor: pointer;
}
p {
  text-align: center;
  display: inline;
  width: 100px;
  height: 30px;
  border: 3px solid black;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 20px;
  font-family: 'Baloo', cursive;
  box-shadow: 1px 2px 1px 2px rgb(224,204,177);
}
/*p:hover {
color: black;
background-color: white;
transition-duration: 4s;
cursor: pointer;
}*/
#playerHand {
    margin: 0 auto;
    border:5px solid rgba(224,204,177, 0.7);
    border-radius:10px;
    background: rgba(0, 0, 0, 0.4);
    color: white;
    padding:.5em;
    font-size:1.5em;
    height:6em;
    width:35em;
    overflow:hidden;
}
#dealButton {
  width: 100px;
  height: 35px;
  border: 3px solid black;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 20px;
  font-family: 'Baloo', cursive;
  box-shadow: 1px 2px 1px 2px rgb(224,204,177);
  margin-top: 5vh;
}
#dealButton:hover {
  color: black;
  background-color: white;
  cursor: pointer;
  margin-top: 5vh;
}
#hitMeButton {
  width: 100px;
  height: 35px;
  border: 3px solid black;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 20px;
  font-family: 'Baloo', cursive;
  box-shadow: 1px 2px 1px 2px rgb(224,204,177);
  margin: 0 auto;
}

#hitMeButton:hover {
  color: black;
  background-color: white;
  cursor: pointer;
  margin: 0 auto;
  }
#hitMeButton:active {
    margin: 0 auto;
    top:1px;
}
#stayButton {
  width: 100px;
  height: 35px;
  border: 3px solid black;
  border-radius: 30px;
  background-color: rgba(0, 0, 0, 0.4);
  color: white;
  font-size: 20px;
  font-family: 'Baloo', cursive;
  box-shadow: 1px 2px 1px 2px rgb(224,204,177);
}
#stayButton:hover {
  color: black;
  background-color: white;
  cursor: pointer;
  margin: 0 auto;
}
#stayButton:active {
    top:1px;
    margin: 0 auto;
}

#hitMeButton, #stayButton {
  display:none;
  margin-top: 5vh;
  margin: 0 auto;
}
#playerScore .digits {
  font-weight:700;
  color: white;
  margin-top: 20vh;
}
#wins {
  color: white;
  margin-top: 20vh;
}

#losses {
  color:white;
  margin-top: 20vh;
}
p {
  color: white;
  margin-top: 4vh;
}

.author {
  color: tan;
  margin-top: 90vh;

}
.card {
  background:ivory;
  border: 4px solid rgb(76,0,0);
  border-radius:4px;
  font-size: 20pt;
  float: left;
  width:  3.75em;
  height: 5em;
  padding:.1em;
  margin-right:-1em;
 font-family:'Baloo', cursive;
}
.card:first-child {
  margin-left:0;
}

.Spades, .Clubs {color:black}
.Diamonds, .Hearts {color:red}
